*, ::after, ::before {
    box-sizing: border-box;
}
body{
    margin: auto;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
header{
    border-bottom: 1px solid #DADADA;
    padding: 20px 0;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    justify-content: flex-start;
}
.nav{
    justify-content: center;
}
.helpBut{
    justify-content: flex-end;
    padding-top: 5px;
}
.nav ul li{
    float: left;
    list-style: none;
}
.nav ul li a{
    padding: 0px 15px;
    text-decoration: none;
    display: block;
    color: #000;
    outline: none;
}
.nav ul li a:hover{
    color: #0099FF;
}
.but{
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
}
.btn-primary{
    background: #0099FF;
    color: white;
    border: none;
}
.btn-primary:hover{
    background: #319CFF;
    color: #fff;
}
.btn-outline-primary{
    background: transparent;
    border: 1px solid #0099FF;
}
.btn-outline-primary:hover{
    background: #0099FF;
    color: #fff;
}
.w-100{
    width: 100%;
}
.w-75{
    width: 75%;
}
.w-50{
    width: 50%;
}
.fLeft{
    float: left;
}
.fRight{
    float: right;
}
.text-center{
    text-align: center;
}
.d-flex {
    display: flex!important;
}
.align-items-center {
    align-items: center!important;
}